<div class="reset-password-container">
  <div class="form-section">
    <div class="form-wrapper">
      <h2 class="form-title">Reset Password</h2>
      
      <!-- Error Message -->
      <div *ngIf="errorMessage" class="alert alert-error">
        {{ errorMessage }}
      </div>

      <!-- Success Message -->
      <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </div>

      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="reset-form">
        <!-- New Password -->
        <div class="form-group">
          <label for="new-password" class="form-label">
            New Password<span class="required">*</span>
          </label>
          <div class="input-group">
            <input 
              [type]="showNewPassword ? 'text' : 'password'" 
              id="new-password" 
              formControlName="newPassword"
              placeholder="Enter your new password" 
              class="myInput"
              [class.is-invalid]="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched">
            <button 
              type="button" 
              (click)="togglePassword('new')" 
              class="password-toggle">
              @if (showNewPassword) {
                <svg data-name="Icon ionic-ios-eye" xmlns="http://www.w3.org/2000/svg" width="17.603" height="11.315" viewBox="0 0 17.603 11.315"><path data-name="Path 35245" d="M11.044 7.875c-3.159 0-5.65 1.988-8.628 5.237a.621.621 0 0 0 0 .837c2.55 2.817 4.8 5.241 8.632 5.241 3.788 0 6.628-3.053 8.648-5.265a.616.616 0 0 0 .02-.813c-2.064-2.495-4.916-5.237-8.672-5.237zm.173 9.19a3.536 3.536 0 1 1 3.367-3.365 3.538 3.538 0 0 1-3.367 3.365z" transform="translate(-2.252 -7.875)" style="fill: rgb(240, 99, 105);"></path><path data-name="Path 35246" d="M16.015 14.168a1.846 1.846 0 0 1 .122-.664h-.122a2.514 2.514 0 1 0 2.515 2.515v-.153a1.742 1.742 0 0 1-.715.153 1.824 1.824 0 0 1-1.8-1.851z" transform="translate(-7.215 -10.357)" style="fill: rgb(240, 99, 105);"></path></svg>
              }
              @else {<svg xmlns="http://www.w3.org/2000/svg" width="16.726" height="13.381" viewBox="0 0 16.726 13.381"><path data-name="Icon awesome-eye-slash" d="M8.363 10.454a3.749 3.749 0 0 1-3.735-3.479L1.887 4.856a8.71 8.71 0 0 0-.96 1.453.845.845 0 0 0 0 .763 8.382 8.382 0 0 0 7.436 4.636 8.118 8.118 0 0 0 2.036-.273l-1.357-1.05a3.767 3.767 0 0 1-.679.068zm8.2 1.518-2.888-2.233A8.657 8.657 0 0 0 15.8 7.072a.845.845 0 0 0 0-.763 8.382 8.382 0 0 0-7.437-4.637 8.053 8.053 0 0 0-3.85.985L1.188.088A.418.418 0 0 0 .6.161L.088.822a.418.418 0 0 0 .073.587l15.377 11.883a.418.418 0 0 0 .587-.073l.513-.66a.418.418 0 0 0-.074-.587zm-4.8-3.711-1.027-.794A2.476 2.476 0 0 0 7.7 4.28a1.245 1.245 0 0 1 .243.737 1.219 1.219 0 0 1-.04.261L5.981 3.792a3.719 3.719 0 0 1 2.382-.865 3.761 3.761 0 0 1 3.763 3.763 3.674 3.674 0 0 1-.363 1.571z" style="fill: rgb(224, 224, 224);"></path></svg>}
            </button>
          </div>
          <div *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched" 
               class="error-message">
            {{ getPasswordErrors() }}
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="form-group">
          <label for="confirm-password" class="form-label">
            Confirm Password<span class="required">*</span>
          </label>
          <div class="input-group">
            <input 
              [type]="showConfirmPassword ? 'text' : 'password'" 
              id="confirm-password" 
              formControlName="confirmPassword"
              placeholder="Confirm your password" 
              class="myInput"
              [class.is-invalid]="(resetForm.get('confirmPassword')?.invalid || resetForm.hasError('passwordMismatch')) && resetForm.get('confirmPassword')?.touched">
            <button 
              type="button" 
              (click)="togglePassword('confirm')" 
              class="password-toggle">
              @if (showConfirmPassword) {
                <svg data-name="Icon ionic-ios-eye" xmlns="http://www.w3.org/2000/svg" width="17.603" height="11.315" viewBox="0 0 17.603 11.315"><path data-name="Path 35245" d="M11.044 7.875c-3.159 0-5.65 1.988-8.628 5.237a.621.621 0 0 0 0 .837c2.55 2.817 4.8 5.241 8.632 5.241 3.788 0 6.628-3.053 8.648-5.265a.616.616 0 0 0 .02-.813c-2.064-2.495-4.916-5.237-8.672-5.237zm.173 9.19a3.536 3.536 0 1 1 3.367-3.365 3.538 3.538 0 0 1-3.367 3.365z" transform="translate(-2.252 -7.875)" style="fill: rgb(240, 99, 105);"></path><path data-name="Path 35246" d="M16.015 14.168a1.846 1.846 0 0 1 .122-.664h-.122a2.514 2.514 0 1 0 2.515 2.515v-.153a1.742 1.742 0 0 1-.715.153 1.824 1.824 0 0 1-1.8-1.851z" transform="translate(-7.215 -10.357)" style="fill: rgb(240, 99, 105);"></path></svg>
              }
              @else {<svg xmlns="http://www.w3.org/2000/svg" width="16.726" height="13.381" viewBox="0 0 16.726 13.381"><path data-name="Icon awesome-eye-slash" d="M8.363 10.454a3.749 3.749 0 0 1-3.735-3.479L1.887 4.856a8.71 8.71 0 0 0-.96 1.453.845.845 0 0 0 0 .763 8.382 8.382 0 0 0 7.436 4.636 8.118 8.118 0 0 0 2.036-.273l-1.357-1.05a3.767 3.767 0 0 1-.679.068zm8.2 1.518-2.888-2.233A8.657 8.657 0 0 0 15.8 7.072a.845.845 0 0 0 0-.763 8.382 8.382 0 0 0-7.437-4.637 8.053 8.053 0 0 0-3.85.985L1.188.088A.418.418 0 0 0 .6.161L.088.822a.418.418 0 0 0 .073.587l15.377 11.883a.418.418 0 0 0 .587-.073l.513-.66a.418.418 0 0 0-.074-.587zm-4.8-3.711-1.027-.794A2.476 2.476 0 0 0 7.7 4.28a1.245 1.245 0 0 1 .243.737 1.219 1.219 0 0 1-.04.261L5.981 3.792a3.719 3.719 0 0 1 2.382-.865 3.761 3.761 0 0 1 3.763 3.763 3.674 3.674 0 0 1-.363 1.571z" style="fill: rgb(224, 224, 224);"></path></svg>}
            </button>
          </div>
          <div *ngIf="resetForm.hasError('passwordMismatch') && resetForm.get('confirmPassword')?.touched" 
               class="error-message">
            Passwords do not match
          </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="submit-button" [disabled]="isLoading || resetForm.invalid">
          {{ isLoading ? 'Resetting...' : 'Reset Password' }}
        </button>
      </form>

      <!-- Footer Links -->
      <div class="form-links">
        <a routerLink="/login" class="form-link">Login?</a>
        <a routerLink="/register" class="form-link">Create Account?</a>
      </div>
    </div>
  </div>

  <!-- Image Section -->
  <div class="image-section">
    <div class="image-overlay"></div>
    <div 
      class="background-image" 
      [style.background-image]="'url(https://efreshli-uploads.s3.eu-central-1.amazonaws.com/sliders/20200302103738928229364.jpg)'">
    </div>
  </div>
</div>